# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore settings file if it contains sensitive data
settings.json

# Ignore output files from detection
detection_counts.json
detection_counts.txt

# Pytest cache directory
.pytest_cache